*
{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
body
{
    font-size:18px;
    height:100%;
    width:100%;
    background-color:#252727;
}
.Ac
{
    display:flexbox;
    justify-content: space-between;
}
.cajas
{
  
   
 
}
.micheckbox
{
    width:25px;
    height:25px;
}
.columna1
{
 
  width:45%;
  max-height:85vh;
  padding-top:30px;
 
  overflow:auto;

  
}
.well
{
  background-color:ivory;
  display:flex;
  flex-direction:column;
  width:100%;
  height:100%;
}
.componente
{
 
  width:90%;
  height:90%;
}
.contenedorflex
{
  display:flex;
  justify-content:space-between;
  alig-items:center;
  width:100%;
  height:100%;
  

}
.form-control
{
    font-size:20px;
}
.dropdown-menu
{
    font-size:20px;
}
.btn
{
    font-size:20px;
}


/*Auto Complete*/

.autocomplete-suggestions { border: 3px solid transparent; background: #428bca; overflow: auto;box-shadow:2px 2px 8px black;color: white; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #428bca; }
.autocomplete-suggestions strong { font-weight: normal; color: black; }
.autocomplete-group { padding: 2px 5px;}
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


/*********************************************CODIGO QR **********************/
.QR 
{
    background-color: black;
    z-index: 10;
    position: absolute;
    left: 50%;
    text-align: center;
}

/********************************************* VALIDACION ALTA DE EQUIPO **********************/
#success_message{ display: none;}


/************************************HELPERS **********************/

.color-header {
    background-color:#337ab7 !important;
    color:white !important;
}

.color-header a:link{
    text-decoration:none;
}